<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Watcher</title>
</head>

<body>
    <div id="app">
        <button-counter :name-key="childNamekey" name='gzh' >
            <div class="app-scope">app-scope</div>
        </button-counter>
        <span></span>
    </div>
</body>
<script type="text/javascript" src="../vue.js"></script>
<script type="text/javascript">
var buttonCounter = Vue.component('button-counter', {
    props: {
        name: [String],
        nameKey: {
            type: [Boolean,String]
        }
    },
    data: function() {
        return {
            count: 0
        }
    },
    template: `<div class="button-counter">
        <div>{{count}}</div>
        <button @click="changeCount">changeCount</button>
        <slot></slot>
    </div>`,
    mounted: function() {
        console.log(this);
    },
    methods:{
        changeCount:function(){
            this.count++;
        }
    }
})
var vue = new Vue({
    el: "#app",
    components: {
        buttonCounter
    },
    data: function() {
        return {
            name: "",
            childNamekey: 'namekey'
        }
    },
    methods:{
        changeNameKey(){
            this.childNamekey = Math.random() + ' name key';
        }
    }
})
</script>

</html>