<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
    <div id="app">
        <div class="v-if" v-if="testIf === 1">if</div>
        <div v-else>if</div>
        <div v-once>{{value2}}</div>
        <ul @click="handleClick" v-demo:foo.a.b="fnDirective">
            <li class="liclass" :class="{'liclass': item.id === 1}" v-for="item in arr" :key="item.id" @click.stop="handleClick(item,$event)">
                {{item.name}} is ad
            </li>
        </ul>
        <!-- 静态根节点 -->
        <div class="static-root">
            <div>xasxasxasx</div>
        </div>
    </div>
</body>
<script type="text/javascript" src="../../vue.js"></script>
<script type="text/javascript">
var vue = new Vue({
    name: "App",
    el: "#app",
    data: function() {
        return {
            arr: [{
                id: 1,
                name: 1
            }, {
                id: 2,
                name: 2
            }, {
                id: 3,
                name: 3
            }],
            testIf: 1,
            value1: 'value1',
            value2: 'value2',
            value3: 'value3',
            value4: 'value4',
        }
    },

})
</script>

</html>